[defaults]
# Use the local inventory
inventory = inventory.ini

# Tell Ansible where to find the collections you just installed
collections_path = ~/.ansible/collections:/usr/share/ansible/collections

# Stop the "Checking for host keys" prompt for new installs
host_key_checking = False

# Use the vault password file if you decide to use one (optional)
# vault_password_file = .vault_pass